{% extends 'MHStoreBundle:Default:layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <p>Need to work out what goes here.</p>
            </div><!-- span12 -->
        </div><!-- row -->
    </div><!-- container -->
{% endblock %}