{% extends 'MHStoreBundle:Default:layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span12">
							{% include 'MHStoreBundle:Default:shared_product_list.html.twig' with { products: products } %}
            </div><!-- span12 -->
        </div><!-- row -->
    </div><!-- container -->
{% endblock %}
