{% extends 'MHStoreBundle:Default:layout.html.twig' %}

{% block body -%}
<div class="container">
	<div class="row">
		<div class="span12">
		
    <h1>Customer edit</h1>

    {{ form(edit_form) }}
		</div>
	</div>
</div>
{% endblock %}
